*  {
  font-family: Andale Mono, monospace;
  color: azure;
}

h1 {
font-weight: 1500;


}


/* All Star background Code by alpahardex :) https://freefrontend.com/css-animated-backgrounds/#google_vignette */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: aqua;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.02em;
  --top-offset: 26.73vh;
  --fall-duration: 9.6s;
  --fall-delay: 9.346s;
}
.star:nth-child(2) {
  --star-tail-length: 6.97em;
  --top-offset: 64.17vh;
  --fall-duration: 7.603s;
  --fall-delay: 8.131s;
}
.star:nth-child(3) {
  --star-tail-length: 6.39em;
  --top-offset: 2.36vh;
  --fall-duration: 10.688s;
  --fall-delay: 9.31s;
}
.star:nth-child(4) {
  --star-tail-length: 6.79em;
  --top-offset: 72.19vh;
  --fall-duration: 7.761s;
  --fall-delay: 7.451s;
}
.star:nth-child(5) {
  --star-tail-length: 5.44em;
  --top-offset: 52.89vh;
  --fall-duration: 11.688s;
  --fall-delay: 2.592s;
}
.star:nth-child(6) {
  --star-tail-length: 6.62em;
  --top-offset: 11.96vh;
  --fall-duration: 9.891s;
  --fall-delay: 4.089s;
}
.star:nth-child(7) {
  --star-tail-length: 5.5em;
  --top-offset: 6.07vh;
  --fall-duration: 11.444s;
  --fall-delay: 7.35s;
}
.star:nth-child(8) {
  --star-tail-length: 5.78em;
  --top-offset: 76.13vh;
  --fall-duration: 7.323s;
  --fall-delay: 0.459s;
}
.star:nth-child(9) {
  --star-tail-length: 7.31em;
  --top-offset: 86.11vh;
  --fall-duration: 11.917s;
  --fall-delay: 1.546s;
}
.star:nth-child(10) {
  --star-tail-length: 6.27em;
  --top-offset: 1.23vh;
  --fall-duration: 7.296s;
  --fall-delay: 3.571s;
}
.star:nth-child(11) {
  --star-tail-length: 6.96em;
  --top-offset: 66.05vh;
  --fall-duration: 9.096s;
  --fall-delay: 2.485s;
}
.star:nth-child(12) {
  --star-tail-length: 5.3em;
  --top-offset: 93.6vh;
  --fall-duration: 9.84s;
  --fall-delay: 1.161s;
}
.star:nth-child(13) {
  --star-tail-length: 6.82em;
  --top-offset: 20.01vh;
  --fall-duration: 6.245s;
  --fall-delay: 0.494s;
}
.star:nth-child(14) {
  --star-tail-length: 7.19em;
  --top-offset: 58.09vh;
  --fall-duration: 9.815s;
  --fall-delay: 5.458s;
}
.star:nth-child(15) {
  --star-tail-length: 5.3em;
  --top-offset: 16.01vh;
  --fall-duration: 7.782s;
  --fall-delay: 0.41s;
}
.star:nth-child(16) {
  --star-tail-length: 6.71em;
  --top-offset: 35.96vh;
  --fall-duration: 9.491s;
  --fall-delay: 7.466s;
}
.star:nth-child(17) {
  --star-tail-length: 6.28em;
  --top-offset: 31.22vh;
  --fall-duration: 8.89s;
  --fall-delay: 7.692s;
}
.star:nth-child(18) {
  --star-tail-length: 5.25em;
  --top-offset: 91.27vh;
  --fall-duration: 8.231s;
  --fall-delay: 1.822s;
}
.star:nth-child(19) {
  --star-tail-length: 5.67em;
  --top-offset: 59.62vh;
  --fall-duration: 10.468s;
  --fall-delay: 0.801s;
}
.star:nth-child(20) {
  --star-tail-length: 6.69em;
  --top-offset: 42.94vh;
  --fall-duration: 7.949s;
  --fall-delay: 1.646s;
}
.star:nth-child(21) {
  --star-tail-length: 5.66em;
  --top-offset: 2.56vh;
  --fall-duration: 8.555s;
  --fall-delay: 8.678s;
}
.star:nth-child(22) {
  --star-tail-length: 6.69em;
  --top-offset: 23.49vh;
  --fall-duration: 7.245s;
  --fall-delay: 2.443s;
}
.star:nth-child(23) {
  --star-tail-length: 6.19em;
  --top-offset: 7.4vh;
  --fall-duration: 11.439s;
  --fall-delay: 2.312s;
}
.star:nth-child(24) {
  --star-tail-length: 6.84em;
  --top-offset: 43.42vh;
  --fall-duration: 10.852s;
  --fall-delay: 3.387s;
}
.star:nth-child(25) {
  --star-tail-length: 6.54em;
  --top-offset: 13.09vh;
  --fall-duration: 10.815s;
  --fall-delay: 4.141s;
}
.star:nth-child(26) {
  --star-tail-length: 6.19em;
  --top-offset: 36.16vh;
  --fall-duration: 9.637s;
  --fall-delay: 8.614s;
}
.star:nth-child(27) {
  --star-tail-length: 6.94em;
  --top-offset: 23.66vh;
  --fall-duration: 6.673s;
  --fall-delay: 5.155s;
}
.star:nth-child(28) {
  --star-tail-length: 6.9em;
  --top-offset: 81.98vh;
  --fall-duration: 6.693s;
  --fall-delay: 2.928s;
}
.star:nth-child(29) {
  --star-tail-length: 6.18em;
  --top-offset: 60.96vh;
  --fall-duration: 6.447s;
  --fall-delay: 0.81s;
}
.star:nth-child(30) {
  --star-tail-length: 5.49em;
  --top-offset: 20.8vh;
  --fall-duration: 11.985s;
  --fall-delay: 0.195s;
}
.star:nth-child(31) {
  --star-tail-length: 6.85em;
  --top-offset: 74.51vh;
  --fall-duration: 7.241s;
  --fall-delay: 5.877s;
}
.star:nth-child(32) {
  --star-tail-length: 6.74em;
  --top-offset: 13.93vh;
  --fall-duration: 7.168s;
  --fall-delay: 5.756s;
}
.star:nth-child(33) {
  --star-tail-length: 5.5em;
  --top-offset: 35.85vh;
  --fall-duration: 9.929s;
  --fall-delay: 2.81s;
}
.star:nth-child(34) {
  --star-tail-length: 6.3em;
  --top-offset: 72.33vh;
  --fall-duration: 7.176s;
  --fall-delay: 5.953s;
}
.star:nth-child(35) {
  --star-tail-length: 5.43em;
  --top-offset: 97.34vh;
  --fall-duration: 11.202s;
  --fall-delay: 3.912s;
}
.star:nth-child(36) {
  --star-tail-length: 6.75em;
  --top-offset: 55.33vh;
  --fall-duration: 7.799s;
  --fall-delay: 9.049s;
}
.star:nth-child(37) {
  --star-tail-length: 5.7em;
  --top-offset: 45.78vh;
  --fall-duration: 10.984s;
  --fall-delay: 9.592s;
}
.star:nth-child(38) {
  --star-tail-length: 5.76em;
  --top-offset: 7.7vh;
  --fall-duration: 8.234s;
  --fall-delay: 1.338s;
}
.star:nth-child(39) {
  --star-tail-length: 7.02em;
  --top-offset: 90.48vh;
  --fall-duration: 7.718s;
  --fall-delay: 7.536s;
}
.star:nth-child(40) {
  --star-tail-length: 6.82em;
  --top-offset: 31.02vh;
  --fall-duration: 7.186s;
  --fall-delay: 3.45s;
}
.star:nth-child(41) {
  --star-tail-length: 6.77em;
  --top-offset: 29.86vh;
  --fall-duration: 6.838s;
  --fall-delay: 2.18s;
}
.star:nth-child(42) {
  --star-tail-length: 6.98em;
  --top-offset: 85.06vh;
  --fall-duration: 9.54s;
  --fall-delay: 7.852s;
}
.star:nth-child(43) {
  --star-tail-length: 6.35em;
  --top-offset: 20.44vh;
  --fall-duration: 6.478s;
  --fall-delay: 7.901s;
}
.star:nth-child(44) {
  --star-tail-length: 7.4em;
  --top-offset: 29.15vh;
  --fall-duration: 10.948s;
  --fall-delay: 7.409s;
}
.star:nth-child(45) {
  --star-tail-length: 7.03em;
  --top-offset: 38.72vh;
  --fall-duration: 9.586s;
  --fall-delay: 7.662s;
}
.star:nth-child(46) {
  --star-tail-length: 7.24em;
  --top-offset: 19.05vh;
  --fall-duration: 7.193s;
  --fall-delay: 8.682s;
}
.star:nth-child(47) {
  --star-tail-length: 5.45em;
  --top-offset: 84.38vh;
  --fall-duration: 7.766s;
  --fall-delay: 3.737s;
}
.star:nth-child(48) {
  --star-tail-length: 6.16em;
  --top-offset: 23vh;
  --fall-duration: 9.872s;
  --fall-delay: 1.61s;
}
.star:nth-child(49) {
  --star-tail-length: 7.39em;
  --top-offset: 86.99vh;
  --fall-duration: 6.044s;
  --fall-delay: 5.233s;
}
.star:nth-child(50) {
  --star-tail-length: 5.05em;
  --top-offset: 3.94vh;
  --fall-duration: 7.324s;
  --fall-delay: 9.287s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=angry_style.css.map */