* {
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    
}
body {
    background: #58427c;
    height: 100vh;
}
  input {
   position: relative;
   display: block;
   margin: auto;
   transition: 400ms linear;
} 
button {
    background-color: black;
    position: relative;
   display: block;
   margin: auto;
   transition: 400ms linear;
}
#sifters:active {
   filter:saturate(250%);
   height: 7.5em;
   width: 14.5em;
}
#sifters:active {
    filter:saturate(250%);
    height: 7.5em;
    width: 14.5em;
 }
 #stardust:active {
    filter:saturate(250%);
    height: 15em;
    width: 15.5em;
 }
  .center {
    position: relative; 
    margin: auto; 
    width: 50%;
    text-align: center;
  } 
.left {
    grid-column: 1 / 2;
}
.middle {
    grid-column: 2 / 4;
}
.middle-1 {
    grid-column: 2 / 4;
    
}
.right { 
    grid-column: 4 / 5;
}
.box {
border: 2px solid azure;
width: 100%;
}
.bigarea {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
